
@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
    font-family:'digital-7';
    src: url('./fonts/digital-7.ttf') ;
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family:'DS-DIGI';
    src: url('./fonts/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

  /* styles.css */
.menu {
  width: 70%;
  height: 95vh;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/bourlypoker3.webp') no-repeat center center;
  background-size: cover;
  background-color: rgba(45, 45, 45, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  position: fixed; /* Fixer l'élément par rapport à la fenêtre du navigateur */
  top: 50%; /* Positionner le centre du menu au milieu de l'écran */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.902); /* Sombre et transparent */
  z-index: 900; /* Derrière le menu mais au-dessus du contenu */
} 

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.poker-button {
  background-color: #242a1eb9;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 240px;
  cursor: pointer;
  font-size: 36px;
  font-family:'DS-DIGI', DS-DIGI, monospace ;
  font-weight: 900;
  transition: background-color 0.3s;
}

.poker-button:hover {
  background-color: #1f2821f0;
}



.sign-out-button button {
  background-color: #1a271fd7;
  color: rgb(230, 23, 23);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 32px;
  font-family:'DS-DIGI', DS-DIGI, monospace ;
  transition: background-color 0.3s;
}
.sign-out-button:hover {
  background-color: #140b0bf6;
  border-radius: 10px;
}
  

  /* formulaire selection joueurs */


  .form-modern {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(18, 61, 26, 0.101);
    font-family: 'DS-DIGI', DS-DIGI ;
}

.form-modern-label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #072a14;
    font-size: 24px;
    font-weight: bold;
    font-family: 'DS-DIGI', DS-DIGI ;

}

.form-modern-input, .form-modern-select {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-family: 'DS-DIGI', DS-DIGI ;
    font-size: 20px;
}

.form-modern-input:focus, .form-modern-select:focus {
    border-color: #135b24;
    outline: none;
}

.form-modern-button {
    padding: 12px 20px;
    background-color: #0a3b0cdf;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'DS-DIGI', DS-DIGI ;
    font-size: 20px;
}

.form-modern-button:hover {
    background-color: #6bb300e3;
}

.form-modern-group {
    display: flex;
    flex-direction: column;
    
}

.form-modern-checkbox-group {
    margin-top: 15px;
}

.form-modern-checkbox {
    margin-right: 10px;
    accent-color: #066a2de2;
}

.form-modern-button-secondary {
    background-color: #28a745;
    margin-top: 10px;
}

.form-modern-button-secondary:hover {
    background-color: #218838;
}
